/* Секция Header */
.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  align-content: center;
  min-height: 293px;
  padding: 0 50px;
}

.header__links-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 32px;
  font-size: 18px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item {
  line-height: 21px;
  letter-spacing: 0.01em;
  text-align: left;
  list-style: circle;
  text-wrap: nowrap;
}

.header__logo {
  position: absolute;
  justify-self: center;
}

.header__logo-image {
  height: 105px;
}

.address {
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
}

.header__address {
  grid-column: 3;
  justify-self: end;
}

/* Секция Cover */
.cover {
  height: 757px;
  padding: 165px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
}

.overlay {
  background-color: rgb(0 0 0 / 60%);
  background-blend-mode: color;
}

.cover__title {
  display: block;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-align: left;
}

.aligned-text_center {
  display: block;
  margin-top: 20px;
  margin-left: 286px;
  line-height: 100px;
  letter-spacing: 0.3em;
}

.aligned-text_right {
  display: block;
  margin-top: 20px;
  line-height: 100px;
  letter-spacing: 0.3em;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
  min-width: 100%;
  margin-top: 135px;
}

.cover__description-text {
  margin-right: 80px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.01em;
  text-align: left;
  text-transform: uppercase;
  word-spacing: 0.75em;
}

.letter-spacing-extended-2 {
  letter-spacing: 1.1em;
}

.bet-button {
  border: 1px solid #fff;
  padding: 0.5em 1.4em;
  color: #fff;
  font-family: Raleway;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

/* Секция Lots */
.lots {
  margin: 180px 24px 0;
}

.lots__heading {
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: left;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  height: 100%;
  margin-top: 27px;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  flex-basis: 334px;
}

.card-link {
  display: block;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
  background-position: center;
  background-size: cover;
}
.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
  background-position: center;
  background-size: cover;
}
.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
  background-position: center;
  background-size: cover;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 563px;
  padding: 50px 40px;
  color: #fff;
}
.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}
.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.lots__look-more-link {
  display: inline-block;
  margin: 30px 0 0 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.48px;
}

/* Секция About */
.about {
  display: grid;
  grid-template-columns: 334px 2fr;
  justify-items: left;
  align-items: center;
  gap: 10px 25px;
  margin: 180px 24px 0;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background-color: #000;
}

.about__logo-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
}
.about__logo-image {
  width: 148px;
}
.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-align: left;
  text-transform: uppercase;
}
.about__text {
  grid-column-start: 2;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
}

/* Секция Footer */
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 180px 50px 88px;
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 18px;
}

.footer__links-list-item {
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 48px;
}

.footer__social-list-item {
  width: 48px;
  list-style: none;
}
